body{
    background-color: var(--fundo);
    margin: 0;
    display: grid;
    grid-template-areas: 
        'header header header'
        'nav main none'
        'footer footer footer'
    ;
}

header {
    background-color: var(--header);
    text-align: center;
    grid-area: header;
}

header img {
    height: 6em;
}

main {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 15px;
    padding: 20px;
    grid-area: main;
}

main h1 {
    margin: 0;
}

#filmes {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin: 0 auto;
}

#filmes img {
    height: 400px;
    width: 283.13px;
}