@import url('../../estilo.css');

:root {
    /* --fundo: #60A3BD; */
    --header: #31a9e3;
    --fundo: #274c63;
    --main: white;
    --font-color: black;
    --bg-img: none;
    /* --header: #003566; */
}

